<div class="main-social-div">
  <div class="contrainer">
   <div class="linkedin upwork">
     <div class="link-main">
       <div class="li-img">
         <img src="../../assets/images/link.png" alt="">
       </div>
       <div class="me-link">
         <a href="https://www.linkedin.com/in/ismar-begic-bega/" target="_blank">
         <img src="../../assets/images/linkedinprof.PNG" alt="" class="linkedin-prof">
       </a>
       </div>
     </div>
   </div>
   <!----->
   <div class="upwork">
    <div class="main-u">
      <div class="up-img">
        <img src="../../assets/images/2560px-Upwork-logo.svg.png"  alt="">
      </div>
      <div class="me">
        <a href="https://www.upwork.com/freelancers/~01684cb774e124a36b?p=1513444577944711168" target="_blank">
        <img src="../../assets/images/upw.PNG" alt="" class="me-img-img">
       </a>
      </div>
    </div>
 </div>
 <!------>
 <div class="upwork">
  <div class="main-u">
    <div class="up-img">
      <img src="../../assets/images/gitgit.png"  alt="">
    </div>
    <div class="me mt-3">
      <a href="https://github.com/BegaDeveloper" target="_blank">
      <img src="../../assets/images/come.PNG" alt="" class="github">
     </a>
    </div>
  </div>
</div>
  </div>
</div>