<div class="angular-background">
  <div class="main-angular-div">
    <div class="container" id="ang-con">
      <div class="row" id="rows">
        <div class="col-lg-4" id="angular-k">
          <h3>
            Angular Knowledge
            <img
              src="../../assets/images/anfna.svg"
              alt=""
              width="50px"
              class="ang-img"
            />
          </h3>
          <p>
            Self taught junior Angular front-end developer. I am very ambitious
            and hardworking. My interest in Angular lie in making the app
            stunning, nice looking, mobile responsive and fast. I also stand for
            quality and learning new things on a daily basis. I adapt quickly to
            new things. Angular was the first framework I started working on. My
            experience with angular includes routing, forms, using services,
            dependency injection, simple login auth, creating components, mobile
            responsive design, databinding, simple HTTP requests, key RxJS
            concepts. I'm a very creative character with a sense of detail.
          </p>
          <h4>My home projects:</h4>
          <ul>
            <li>
              <a
                href="https://hopeful-curie-6e2f50.netlify.app/"
                target="_blank"
                >Stacks Shop</a
              >
            </li>
            <li>
              <a
                href="https://romantic-babbage-03eeff.netlify.app/"
                target="_blank"
                >Todo App</a
              >
            </li>
            <li>
              <a
                href="https://elated-goldberg-540ac3.netlify.app/"
                target="_blank"
                >Portfolio</a
              >
            </li>
            <li>
              <a href="https://github.com/BegaDeveloper/CRUD" target="_blank"
                >CRUD App</a
              >
            </li>
            <li>
              <a
                href="https://github.com/BegaDeveloper/CryptoApp"
                target="_blank"
                >Crypto App API with auth</a
              >
            </li>
            <li>
              <a
                href="https://github.com/BegaDeveloper/AngularRecipeApp.git"
                target="_blank"
              >
                Recipe App with json server</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="skill-bars">
            <div class="bar">
              <div class="info">
                <span>HTML</span>
              </div>
              <div class="progress-line html">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>CSS</span>
              </div>
              <div class="progress-line css">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>JavaScript</span>
              </div>
              <div class="progress-line jquery">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>TypeScript</span>
              </div>
              <div class="progress-line python">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>Angular</span>
              </div>
              <div class="progress-line mysql">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
