.main-social-div{
  min-height: 94vh;
  box-shadow: 0px 0px 5px rgb(50 50 50 / 38%);
  background: #f1f1f1;
  font-family: "Quicksand", sans-serif;
}

.upwork{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 100px;
}

.li-img img{
  width: 300px;
}

.li-img{
  display: flex;
  justify-content: center;
}

.linkedin-prof{
  width: 650px;
  border-radius: 15px;
  box-shadow: 0 0 7px #ccc;
  transition: all 0.4s;
}

.linkedin-prof:hover{
  transform: scale(1.1, 1.1);
}

.up-img{
  display: flex;
  justify-content: center;
}

.up-img img{
  width: 300px;
}

.me img{
  border-radius: 15px;
  box-shadow: 0 0 7px #ccc;
  transition: all .4s;
}

.me img:hover{
  transform: scale(1.1, 1.1);
}

@media(max-width: 720px) {
  .linkedin-prof{
    width: 340px;
  }

  .me-img-img{
    width: 300px;
  }

  .github{
    width: 270px;
  }

  .li-img img{
    width: 200px;
  }

  .up-img img{
    width: 200px;
  }
}

@media(max-width: 370px) {
  .linkedin-prof{
    width: 265px;
  }

  .me-img-img{
    width: 265px;
  }

  .github{
    width: 250px;
  }

  .li-img img{
    width: 200px;
  }

  .up-img img{
    width: 200px;
  }
}