<div class="main-con">
  <div class="svg-item">
    <div class="container">
      <div class="col-xs-12 text-center" id="about-first-div">
        <h2 class="overview">Overview</h2>
        <p>
          "Angular full stack developer and certified JavaScript developer with
          lots of ambition and hustle that stands for quality, mobile responsive
          design, smooth experience and learning new things on a daily basis.
          Based in Bosnia and Hercegovina - Zivinice. I am very responsible,
          communicative and ready for teamwork. I do well in working under
          pressure. My goal is to find a job that will suit my desires,
          abilities and education, and enable career advancement. I am also
          ready to upgrade my knowledge, for which I have all the will power and
          equipment that I need in this business for remote work, relocation and
          for learning more. I have read a lot of books related to Frontend and
          Backend development that have helped me and facilitated my learning
          and work. An interesting, talkative, sensible and cheerful guy at work
          and out of work."
        </p>
        <button class="pdf-btn">
          <a download href="../../assets/pdf/Ismar.pdf"
            >Download my Resume / CV</a
          >
        </button>
      </div>
    </div>
  </div>
  <div class="linear">
    <div class="container">
      <div class="col-xs-12" id="about-second-div">
        <h4>Experience</h4>
        <ul class="list-of-exp">
          <li class="current">
            Currently working as a Full Stack Developer for Habultron, Tuzla.
          </li>
          <p id="small-ex">
            • Working on a complex large scale application for Sweden client
            <br />
            • Implementing design and functionality using Angular, Oracle,
            Codeigniter (php)<br />
            • Backend work and API development with PHP and Codeigniter<br />
            • Pixel perfect design implementation from XD files.<br />
            • Team collaboration<br />
            • Produce clean, efficient code based on specifications<br />
            • Troubleshoot, debug and upgrade existing software<br />
            • Recommend and execute improvements
          </p>
          <li class="current">
            Working on banking app for Serbian banking sistem
          </li>
          <p id="small-ex">
            • Building Angular 13 app from scratch. <br />
            • Work with other team members.<br />
            • Design and implement visually aesthetic user interfaces.<br />
            • Ensure front end code is able to query APIs.<br />
            • Identify issues with front end code and rectify them to remove
            bugs.
          </p>
          <li class="current">
            Freelance work over UpWork, and in my home town (Frontend
            development and design).
          </li>
          <p id="small-ex">
            • Using languages like HTML, CSS, Angular, React, JavaScript,
            TypeScript to create user-friendly web pages <br />
            • Maintaining and improving websites<br />
            • Optimizing applications for maximum speed<br />
            • Get feedback from clients, and build solutions for users and
            customers<br />
            • Stay up-to-date on emerging technologies<br />
            • Design mobile-based features<br />
            • Write functional requirement documents and guides
          </p>
          <li>Working part time as Angular Developer for LTG, Toronto.</li>
          <p id="small-ex">
            • Angular FE development <br />
            • Design implementation from Figma files<br />
            • Optimizing the user experience<br />
            • Creating tools that improve site interaction regardless of the
            browser<br />
            • Using HTML5, TypeScript and SASS to bring concepts to life <br />•
            Fixing bugs and testing for usability
          </p>
          <li>Wordpress website administration for AdStar.</li>
          <p id="small-ex">
            Contract work on Wordpress e-commerc site. <br />
            • Create and maintain internal and external websites in
            collaboration with other web developers<br />
            • Collaborate with development teams to discuss, analyze, or resolve
            usability issues<br />
            • Document application and website changes or change procedures<br />
            • Develop or implement procedures for ongoing web site revision<br />
            • Recommend web site improvements
          </p>
          <li>Landing pages for companies.</li>
          <p id="small-ex">
            <a href="https://jolly-swanson-dbb5d3.netlify.app/"
              >• Tile company from Connecticut, US</a
            >
            <br />
            <a href="https://kaleidoscopic-bienenstitch-d7d7f6.netlify.app/">
              • Fitness page for client from Serbia</a
            ><br />
            <a href="https://epic-nightingale-96e8de.netlify.app/"
              >• Blog page for local client
            </a>
            <br />
            <a href="https://hopeful-curie-6e2f50.netlify.app/"
              >• Shop landing page UI
            </a>
          </p>
          <p id="small-ex"></p>
          <li>
            Website developement and administration for "GetGeek" Shopify
            websites.
          </li>
          <p id="small-ex">
            • Responsible for the development of the Shopify Plus platform,
            themes and liquid programming language <br />
            • Contribute in the development of open source software,
            HTML5/CSS/JavaScript, and common web technologies integral to
            building seamless multi-channel experiences<br />
            • Implement advanced debugging techniques and usage of browser
            developer tools<br />
            • Developing testing plans and troubleshooting issues related to
            eCommerce issues
          </p>
          <li>
            GitHub page with my projects, code and knowledge
            <a
              class="git-link"
              href="https://github.com/BegaDeveloper"
              target="_blank"
              >BegaDeveloper
            </a>
            <i class="fab fa-github"></i>
          </li>
        </ul>
        <img src="../../assets/images/handshake.png" alt="" width="400px" />
      </div>
      <hr id="#hr-tag" />
      <div class="col-xs-12" id="certification">
        <h4>Certification</h4>
        <ul>
          <li>Electrotechnical High School, Zivinice</li>
          <li>
            ITAcademy (LINK_group) Certified Front End JavaScript Developer
          </li>
          <li>W3Schools JavaScript Developer Certificate</li>
          <li>
            Getting my Cambridge International AS Level Computer Science degree
            soon
          </li>
        </ul>
        <img
          src="../../assets/images/cambridge-blokk3_.png"
          alt=""
          width="200px"
        />
      </div>
      <hr id="hr-tag" />
      <div class="row justify-content-start" id="last-about">
        <div class="col-lg-5" id="tablet-image">
          <img
            src="../../assets/images/homeimg.jpg"
            alt="meeee"
            className="me-about"
            width="400px"
          />
        </div>
        <div class="col-lg-5" id="about-info">
          <p><i class="fas fa-calendar-day"></i> Date of Birth: 23.01.1999.</p>
          <p><i class="fas fa-envelope"></i> Email: ismarbegicit@gmail.com.</p>
          <p>
            <i class="fas fa-phone"></i> Telephone Number: +387 (64)4462914.
          </p>
          <p>
            <i class="fas fa-globe-europe"></i> Country: Bosna i Hercegovina.
          </p>
          <p>
            <i class="fas fa-map-marker-alt"></i> Address: Maršala Tita 4,
            Živinice.
          </p>
          <p>
            <i class="fas fa-graduation-cap"></i> Education: ITAcademy Cambridge
            International School, JavaScript Front End Developer and <br />
            Electrotechnical High School
          </p>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ff727d"
      fill-opacity="1"
      d="M0,96L48,117.3C96,139,192,181,288,208C384,235,480,245,576,224C672,203,768,149,864,133.3C960,117,1056,139,1152,144C1248,149,1344,139,1392,133.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
  <footer id="dk-footer" class="dk-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div id="img-footer-img">
            <img src="../../assets/images/upworkPic.jpg" alt="" />
            <p>
              Full Stack Developer at your service, available for any form of
              work. You can also contact me via upwork.
            </p>
          </div>
          <!-- End Footer info -->
        </div>
        <!-- End Col -->
        <div class="col-md-12 col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-us">
                <div class="contact-icon">
                  <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>Zivinice. BiH</h3>
                  <p>Marsala Tita 4</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
            <div class="col-md-6">
              <div class="contact-us contact-us-last">
                <div class="contact-icon">
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>+(387) 64 44 62 914</h3>
                  <p>Give me a call</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Contact Row -->
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget footer-left-widget">
                <div class="section-heading">
                  <h3>Useful Links</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <ul>
                  <li>
                    <a routerLink="/about">About me</a>
                  </li>
                  <li>
                    <a routerLink="/Frameworks">Frameworks</a>
                  </li>
                  <li>
                    <a href="#">Projects</a>
                  </li>
                  <li>
                    <a routerLink="/home">Home</a>
                  </li>
                </ul>
                <ul>
                  <li>
                    <a
                      href="https://www.upwork.com/freelancers/~01684cb774e124a36b"
                      >UpWork</a
                    >
                  </li>
                  <li>
                    <a href="https://github.com/BegaDeveloper">GitHub</a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/ismar-begic-a924a0205/"
                      >Linkedin</a
                    >
                  </li>
                  <li>
                    <a href="https://www.instagram.com/ismar_begaa/"
                      >Instagram</a
                    >
                  </li>
                </ul>
              </div>
              <!-- End Footer Widget -->
            </div>
            <!-- End col -->
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget">
                <div class="section-heading">
                  <h3>Subscribe</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <p>Don't forget to subscribe...</p>
                <form action="#">
                  <div class="form-row">
                    <div class="col dk-footer-form">
                      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                        <input
                          id="input-sub"
                          type="email"
                          class="form-control"
                          placeholder="Email Address"
                          name="sub"
                          ngModel
                        />
                        <button type="submit">
                          <i class="fa fa-send"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </form>
                <!-- End form -->
              </div>
              <!-- End footer widget -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            <span>Copyright © 2021/22, All Right Reserved Ismar Begic</span>
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="copyright-menu">
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Terms</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
      <button
        class="btn btn-dark"
        title="Back to Top"
        style="display: block"
        (click)="toTop()"
      >
        <i class="fa fa-angle-up"></i>
      </button>
    </div>
    <!-- End Back to top -->
  </footer>
</div>
