<div class="main-skills" >
<div class="container">
  <div class="icons-top-div pt-5">
    <div>
      <img src="https://camo.githubusercontent.com/9e331140395d11f81b10e63d94d7599deb0eb65aa160a092d7f29f7f6ab82f54/68747470733a2f2f63646e2e776f726c64766563746f726c6f676f2e636f6d2f6c6f676f732f616e67756c61722d332e737667" class="top-icon" alt="">
    </div>
    <div>
      <img src="https://camo.githubusercontent.com/9f59186b402b58a06a7f6251091172954dc7dfec2805a66e0d4d21eb7228bddf/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f313230302f312a53342d766c35494d5372656a362d30723530484434772e706e67" class="top-icon" alt="">
    </div>
    <div>
      <img src="https://ngrx.io/assets/images/badge.svg" class="ngrx" alt="">
    </div>
  </div>
  <div class="working-on">
    <h3 class="text-center pt-2">Currently working on</h3>
    <hr>
    <div>
      <p class="project">WEON - Pro Menagment Flow</p>
      <p class="desc">✅ Working on an application for the Swedish market. The application is high scale, which uses Angular, Php, Codeigniter, Oracle... Complex functionality and pixel perfect design. It is used for companies to monitor workers time, send invoices, order materials for work on construction sites, etc. From chat communication, to email communication and sending pdfs, it covers it all.</p>
    </div>
    <div>
      <p class="project">UBS - Banking System for Serbia</p>
      <p class="desc">✅ Working on a Serbian Banking application from scratch, using Angular 13. To which banks and clients from Serbia will connect and work on various requests, invoices, loan transfers, etc. Colaborting with other team members and using Swagger UI for api execution.</p>
    </div>
  </div>
  <div class="tech pt-5">
    <h3 class="text-center">OS</h3>
  <hr>
  <swiper
    [slidesPerView]="3"
    [spaceBetween]="30"
    [freeMode]="true"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <div class="os-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/bd87584868b9ded815261c4732f6de5d6dda8178fe39eaa9a0f9ee0a4518485e/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f302f30612f556e6f6666696369616c5f57696e646f77735f6c6f676f5f76617269616e745f2d5f32303032254532253830253933323031325f2532384d756c7469636f6c6f7265642532392e7376672f3131363170782d556e6f6666696369616c5f57696e646f77735f6c6f676f5f76617269616e745f2d5f32303032254532253830253933323031325f2532384d756c7469636f6c6f7265642532392e7376672e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>Windows</h4>
        </div>
        
      </div>
      <hr>
      <p class="p-os">• In depth knowledge of Windows <br>
         • Knowledge of Microsoft packages (Excell, Word, etc)<br>
         • Navigation thru windows Command Line</p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"> <div class="os-div col-md-3">
      <div class="icon">
        <div> <img src="https://camo.githubusercontent.com/b329e4854559eea41777057650d5b38ca5ffd951d706040c638ff12a15e06d86/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f612f61622f4170706c652d6c6f676f2e706e672f36343070782d4170706c652d6c6f676f2e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>MacOS</h4>
        </div>
       
      </div>
      <hr>
      <p class="p-os">
        • Knowledge of MacOS <br>
        • Using macOs to navigate to components<br>
        • Navigation thru Terminal
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="os-div col-md-3">
      <div class="icon">
        <div> <img src="https://camo.githubusercontent.com/10f32eda8a6fcf8340781de7b6bb2e180db95ad1bc5daca229e3d58f44b31333/68747470733a2f2f313030306c6f676f732e6e65742f77702d636f6e74656e742f75706c6f6164732f323031372f30332f4c494e55582d4c4f474f2e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>Linux</h4>
        </div>
       
      </div>
      <hr>
      <p class="p-os">
        • Knowledge of Linux and skilled in Kali Linux<br>
        • Navigation thru Linux terminal<br>
        • Some experience in cybersecurity tools in Kali Linux
      </p>
    </div></ng-template
    >
  </swiper>
  

   
   <!----->
   <div class="tools">
   <h3 class="text-center pt-5">Tools</h3>
   <hr>
   <swiper
    [slidesPerView]="3"
    [spaceBetween]="30"
    [freeMode]="true"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
   >
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/visual-studio-code/visual-studio-code.png" class="icon-img" alt=""></div>
        <div>
          <h4>VsCode</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Daily use of VsCode<br>
        • Using libraries and extensions for easier use and cleaner code<br>
        • Incorporating GitLense and BitBucket extensions for source control<br> 
        • Using Prettier code formater for cleaner code
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div> <img src="https://camo.githubusercontent.com/d333f9f8525602ed991385799a8fdf7a19949cbc8842b91ff584fdf10a42d9fa/68747470733a2f2f7365656b6c6f676f2e636f6d2f696d616765732f502f70686f746f73686f702d323032302d6c6f676f2d333742303230353541342d7365656b6c6f676f2e636f6d2e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>AdobePhotosop</h4>
        </div>
       
      </div>
      <hr>
      <p>
        • Knowledge of Photoshop<br>
        • Editing photos for usage<br>
        • Croping, lighting, background erasing and other features for cleaner pictures
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/b1babf4439d0d8f6bc26f996a4cf401fd6dee5945729c7a0c75aa6b58ebcb47f/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f632f63322f41646f62655f58445f43435f69636f6e2e7376672f3132303070782d41646f62655f58445f43435f69636f6e2e7376672e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>AdobeXD</h4>
        </div>
        
   
      </div>
      <hr>
      <p>
        • Using AdobeXD for implementing design ideas <br>
        • Navigating thru images and getting their parametars for pixel perfect design <br>
        • Coping svg images, changing colors, width, height, etc
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div> <img src="https://camo.githubusercontent.com/b8ee9fd2e9b26a7265ece6dbc6f5c7449928b84f45a08fe5852d6a8dfd915fb3/68747470733a2f2f6769742d73636d2e636f6d2f696d616765732f6c6f676f732f646f776e6c6f6164732f4769742d49636f6e2d31373838432e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>Git</h4>
        </div>
       
      </div>
      <hr>
      <p>
        • Knowledge of Git Flow <br>
        • Using VSCode tools for Version Control <br>
        • Using Git Bash, Command Line, etc <br>
        • Making branches, merging, PR, Git Hooks, Advnaced Git Log, etc.
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png" class="icon-img" alt=""></div>
        <div>
          <h4>GitHub</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Daily use and great knowledge of GitHub <br>
        • Using GitHub for team project work <br>
        • Branching, PR, code review, etc. <br>
     
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/fbed754be0846a707fb5d7ab717ee70af1ef3df31fca9bf3efb10250568f2ce3/68747470733a2f2f76616c69616e7479732e636f6d2f6170702f75706c6f6164732f323032302f30382f6269746275636b65742e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>BitBucket</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Daily use and knowledge of BitBucket and Jira <br>
        • Using BitBucket for team project work <br>
        • Branching, PR, code review, etc. <br>
     
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/93862016fa8130fbe089c0148161a700e5ecdcb515dfb86226493811b6a231e3/68747470733a2f2f636f727972796c616e2e636f6d2f6173736574732f696d616765732f706f7374732f74797065732f66697265626173652e737667" class="icon-img" alt=""></div>
        <div>
          <h4>Firebase</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Hosting projects, databases and auth with FireBase <br>
        • Incorporating FireBase with Angular <br>
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/b245ff76e98cda41295d397e1a8632333c6569cb0a62dfaa2b374acb55aa7ca6/68747470733a2f2f7265732e636c6f7564696e6172792e636f6d2f706f73746d616e2f696d6167652f75706c6f61642f745f7465616d5f6c6f676f2f76313632393836393139342f7465616d2f32383933616564653233663031626663626432333139333236626339366136656430353234656261373539373435656436643733343035613361386236376138" class="icon-img" alt=""></div>
        <div>
          <h4>Postman</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Daily use of Postman <br>
        • Using Postman for testing API's <br>
      </p>
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/c3aa8777fb7e3ef78de4c59eecbe77e8aee1ce8a9699f821b7fa54d439e166b8/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f302f30312f57696e646f77735f5465726d696e616c5f4c6f676f5f323536783235362e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>Command Line</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Great command over terminal <br>
        • Using it to navigate to components, install libraries, etc <br>
      </p>
    </div></ng-template>
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div><img src="https://camo.githubusercontent.com/3754c01dd912b66a7483ed7abbdb5b05d9befb521c8c433410dfd45f2f8a4bdd/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f642f64622f4e706d2d6c6f676f2e7376672f35343070782d4e706d2d6c6f676f2e7376672e706e67" class="icon-img" alt=""></div>
        <div>
          <h4>npm</h4>
        </div>
        
      </div>
      <hr>
      <p>
        • Daily use of npm <br>
        • Using npm for installing packages and tools <br>
        • Uploding packages for use in applications <br>
      </p>
    </div></ng-template>
    
  </swiper>
  
 

<!------>
<div class="techol-div pb-5">
  <h3 class="text-center pt-5">Technologies</h3>
  <hr>
  <swiper
    [slidesPerView]="3"
    [spaceBetween]="30"
    [freeMode]="true"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
    
  >
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/2bbf6e22e60a875556fa365be5661623c9ab56f445aa463bb30ffa10e3f49a34/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f332f33382f48544d4c355f42616467652e7376672f3130323470782d48544d4c355f42616467652e7376672e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>HTML5</h4>
        </div>
      </div>
        <hr>
        <p>
          • Excellent knowledge of HTML5 <br>
          • Using new HTML standars (article, section, aside, etc)<br>
          • Great control over HTML in different types od apps
        </p>
     
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/cdb34d0c8c5c863a58bee3f067b909b1b38146162e6c6e1ec740f6ae0b3b6e72/68747470733a2f2f7374617469632e63646e6c6f676f2e636f6d2f6c6f676f732f632f31382f6373732e737667" class="icon-img" alt="">
        </div>
        <div>
          <h4>CSS3</h4>
        </div>
      </div>
        <hr>
        <p>
          • Excellent knowledge over CSS and styling elements<br>
          • Using Bootstrap, Angular Material for CSS Frameworks<br>
          • Great knowledge of css animations, keyframes, etc. <br>
         
        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/f75be34b984916f7c30b40dbf332154eb2e06ed630ce0f446aaa6ec134c8f94f/68747470733a2f2f736173732d6c616e672e636f6d2f6173736574732f696d672f7374796c6567756964652f7365616c2d636f6c6f722d61656630333534632e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>SaSS</h4>
        </div>
      </div>
        <hr>
        <p>
          • Using SaSS for easier and quicker style implementation <br>
          • Incorporating functions 
        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/0a89ec294e442d718bcd0d6e5641f78a69f8e6eadfa5ffd9f6e271df0ccb802f/68747470733a2f2f7365656b6c6f676f2e636f6d2f696d616765732f422f626f6f7473747261702d6c6f676f2d334333304642324131362d7365656b6c6f676f2e636f6d2e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>Bootstrap</h4>
        </div>
      </div>
        <hr>
        <p>
          • Daily use of Bootstrap <br>
          • Great knowledge over class styles <br>
          • In depth knowledge and control over Bootstrap elements
        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3" id="tech">
      <div class="icon">
        <div>
          <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png" class="icon-img" alt="">
        </div>
        <div>
          <h4>JavaScript</h4>
        </div>
      </div>
        <hr>
        <p>
          • Building sustainable coding that may be used in the future <br>
          • Ensuring the feasibility of UI/UX designs <br>
          • Enhancing performance of the main front-end website <br>
          • Collaborating with front-end and back-end web developers <br>
          • Assure that all user input is validated before submitting to back-end services

        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/f1dce0381ee0b1e19bc2d2dd0d09d28a52656ab4524f3aef66ebf8aa675f7e54/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f342f34632f547970657363726970745f6c6f676f5f323032302e7376672f3130323470782d547970657363726970745f6c6f676f5f323032302e7376672e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>TypeScript</h4>
        </div>
      </div>
        <hr>
        <p>
          • Plan, develop and implement UI strategy <br>
          • Improving UI  <br>
          • Researching new technologies and best practices
        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/c1c6368f984089b53f922190e1c594f4e33033f3fd2fb8bb854a5deb05e051ab/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f342f34662f4e61746976655363726970745f6c6f676f2e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>NativeScript</h4>
        </div>
      </div>
        <hr>
        <p>
          • Implement real-time cross-platform mobile and web applications <br>
          • Utilize native third party SDKs in NativeScript  <br>
          
        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/f3242987d81ee42ff4eea89a725c94707811e45b747b2aff1dd89681b45b4c98/68747470733a2f2f69636f6e6170652e636f6d2f77702d636f6e74656e742f66696c65732f66752f3336393235342f7376672f616e64726f69642d6c6f676f2d69636f6e2d706e672d7376672e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>Android</h4>
        </div>
      </div>
        <hr>
        <p>
          • Using NativeScript and Angular for making Android apps <br>
          • Great knowledge of Android Studio <br>
          • Writing clean and efficient code for Android apps <br>
          • Monitoring the performance of live apps and work on optimizing them

        </p>
      
    </div></ng-template
    ><ng-template swiperSlide class="slid"><div class="tool-div col-md-3" id="tech">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/23010d2b4dbe41dbfcbe3c2208febd9dcde0c18472e422790d346a483cc0fceb/68747470733a2f2f6465766e6f74652e746563682f77702d636f6e74656e742f75706c6f6164732f323032312f31302f416e67756c61722d6c6f676f2e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>Angular</h4>
        </div>
      </div>
        <hr>
        <p>
          • I have high knowledge in Angular and TS <br>
          • Using the newest Angular features <br>
          • Designing and implementing visually aesthetic UI <br>
          • Identifing issues with front end code and rectifing them to remove bugs <br>
          • Creating well written documentation<br>
          • Ensureing front end code is able to query APIs <br>
          • Audit code to identify bottlenecks of performance and fixing them
        </p>
      
    </div></ng-template>
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/a24ce5249b9d299a66edc1b89a8fa8ffe1b9a3c6311ff282b61dd48e0e992921/68747470733a2f2f72786a732e6465762f6173736574732f696d616765732f66617669636f6e732f66617669636f6e2d313932783139322e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>RxJs</h4>
        </div>
      </div>
        <hr>
        <p>
          • Key concepts of RxJS <br>
          • New RxJs features <br>
          • Implementing it with Angular <br>
          
        </p>
      
    </div></ng-template>
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/63544bb484a4e9d3d5bd349f7f7ff839bcea8902469cc0aaf95bbbe4b695330c/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f332f33312f5765627973746865725f32303136303432335f2d5f456c65706870616e742e7376672f3235363070782d5765627973746865725f32303136303432335f2d5f456c65706870616e742e7376672e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>Php</h4>
        </div>
      </div>
        <hr>
        <p>
          • Basic knowldge of Php <br>
          • Integration of user-facing elements developed by front-end developers <br>
          • Build efficient, testable, and reusable PHP modules <br>
        </p>
      
    </div></ng-template>
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/dda62048e15a12bd2abb788d2aac3b31d9d8bc657c67c3449464dd380df72190/68747470733a2f2f7777772e6a6f796b616c2e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031392f30392f636f646569676e697465722d69636f6e2d3531322e706e67" class="icon-img" alt="">
        </div>
        <div>
          <h4>Codeigniter</h4>
        </div>
      </div>
        <hr>
        <p>
          • Good knowledge of the Codeigniter framework <br>
          • Sound knowledge of database designing and application architecture planning for Core PHP projects. <br>
          • Good debugging skills  <br>
        </p>
      
    </div></ng-template>
    <ng-template swiperSlide class="slid"><div class="tool-div col-md-3">
      <div class="icon">
        <div>
          <img src="https://camo.githubusercontent.com/9c0ee70756fd326954bef60fe489c07196857df2a208367b8a4b4196d5188453/68747470733a2f2f7374617469632e63646e6c6f676f2e636f6d2f6c6f676f732f6d2f31302f6d7973716c2e737667" class="icon-img" alt="">
        </div>
        <div>
          <h4>MySql</h4>
        </div>
      </div>
        <hr>
        <p>
          • Basic knowldge of MySQL <br>
          • Provision MySQL instances, both in clustered and non-clustered configurations <br>
          • Ensure performance, security, and availability of databases <br>
          • Prepare documentations and specifications  <br>
        </p>
      
    </div></ng-template>
  </swiper>
</div>
</div>
<!--------->

<div class="col t-flexx pb-5 pt-5">
  <div class="skill-bars">
    <div class="bar">
      <div class="info">
        <span>HTML</span>
      </div>
      <div class="progress-line html">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>CSS</span>
      </div>
      <div class="progress-line css">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>JavaScript</span>
      </div>
      <div class="progress-line jquery">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>TypeScript</span>
      </div>
      <div class="progress-line python">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Angular</span>
      </div>
      <div class="progress-line mysql">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>RxJs</span>
      </div>
      <div class="progress-line rxjs">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Android</span>
      </div>
      <div class="progress-line android">
        <span></span>
      </div>
    </div>
  </div>
</div>
</div>
</div>


 <!-- Back to top -->
 <div id="back-to-top" class="back-to-top">
  <button
    class="btn btn-dark"
    title="Back to Top"
    style="display: block"
    (click)="toTop()"
  >
    <i class="fa fa-angle-up"></i>
  </button>
</div>

<footer class="page-footer font-small blue-grey lighten-5 ">
  <div class="bg-div" id="shadow-footer">
    <div class="container">
      <div classN="row py-4 d-flex align-items-center">
        <div
          class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
          id="center-footer"
        >
          <h6 class="mb-0" id="ft-text-1">
            Get connected with me on social networks
          </h6>
        </div>
        <div
          class="col-md-6 col-lg-7 text-center text-md-right"
          id="center-footer"
        >
          <a
            class="fb-ic"
            id="footer-icon"
            href="https://www.facebook.com/ismar.begic.127"
          >
            <i class="fab fa-facebook-f white-text mr-4"></i>
          </a>
          <a class="fw-ic" id="footer-icon">
            <i class="fab fa-twitter white-text mr-4"></i>
          </a>
          <a class="gplus-ic" id="footer-icon">
            <i class="fab fa-google-plus-g white-text mr-4"></i>
          </a>
          <a
            class="li-ic"
            id="footer-icon"
            href="https://www.linkedin.com/in/ismar-begic-a924a0205/"
          >
            <i class="fab fa-linkedin-in white-text mr-4"></i>
          </a>
          <a
            class="ins-ic"
            id="footer-icon"
            href="https://www.instagram.com/ismar_begaa/"
          >
            <i class="fab fa-instagram white-text mr-4"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6>That's me ! <i class="fas fa-arrow-down"></i></h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p>
          Meticulous front end developer with over 2 years of front end
          experience and passion for responsive website design and a firm
          believer in the mobile-first approach. Cambridge University certified.
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Frameworks</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p>
          <a class="dark-grey-text" href="#!" id="a-text"> Angular </a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p>
          <a
            class="dark-grey-text"
            id="a-text"
            href="https://www.upwork.com/freelancers/~01684cb774e124a36b"
          >
            UpWork
          </a>
        </p>
        <p>
          <a
            class="dark-grey-text"
            id="a-text"
            href="https://github.com/BegaDeveloper/"
          >
            GitHub
          </a>
        </p>
        <p>
          <a
            class="dark-grey-text"
            id="a-text"
            href="https://www.linkedin.com/in/ismar-begic-a924a0205/"
          >
            Linkedin
          </a>
        </p>
        <p>
          <a class="dark-grey-text" id="a-text"> Freelancer </a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p><i class="fas fa-home mr-3"></i> Zivinice, BiH 75270</p>
        <p><i class="fas fa-envelope mr-3"></i> ismarbegicit@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> +387(64/44/62/914)</p>
        <p><i class="fas fa-print mr-3"></i> Marsala Tita 4</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center text-black-50 py-3" id="copyright">
    © 2021/22 Copyright:
    <a class="dark-grey-text" id="a-text"> Ismar Begic </a>
  </div>
</footer>
