<div class="body-framework">
  <div class="container" id="first-con">
    <h1 class="text-center pt-5">
      Chose and press on a framework <i class="far fa-hand-pointer"></i>
    </h1>
    <hr />
    <div class="col-xs-12 text-center" id="angular-card">
      <a routerLink="/angular"
        ><img src="../../assets/images/angular-card.png" alt=""
      /></a>
    </div>
    <div class="col-xs-12 text-center" id="react-card">
      <a routerLink="/react">
        <img src="../../assets/images/codeigniter2.png" alt=""
      /></a>
    </div>
  </div>
</div>
<footer class="page-footer font-small blue-grey lighten-5">
  <div class="bg-div" id="shadow-footer">
    <div class="container">
      <div classN="row py-4 d-flex align-items-center">
        <div
          class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
          id="center-footer"
        >
          <h6 class="mb-0" id="ft-text-1">
            Get connected with me on social networks
          </h6>
        </div>
        <div
          class="col-md-6 col-lg-7 text-center text-md-right"
          id="center-footer"
        >
          <a
            class="fb-ic"
            id="footer-icon"
            href="https://www.facebook.com/ismar.begic.127"
          >
            <i class="fab fa-facebook-f white-text mr-4"></i>
          </a>
          <a class="fw-ic" id="footer-icon">
            <i class="fab fa-twitter white-text mr-4"></i>
          </a>
          <a class="gplus-ic" id="footer-icon">
            <i class="fab fa-google-plus-g white-text mr-4"></i>
          </a>
          <a
            class="li-ic"
            id="footer-icon"
            href="https://www.linkedin.com/in/ismar-begic-a924a0205/"
          >
            <i class="fab fa-linkedin-in white-text mr-4"></i>
          </a>
          <a
            class="ins-ic"
            id="footer-icon"
            href="https://www.instagram.com/ismar_begaa/"
          >
            <i class="fab fa-instagram white-text mr-4"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6>That's me ! <i class="fas fa-arrow-down"></i></h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p>
          Meticulous front end developer with over 2 years of front end
          experience and passion for responsive website design and a firm
          believer in the mobile-first approach. Cambridge University certified.
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Frameworks</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p>
          <a class="dark-grey-text" href="#!" id="a-text"> Angular </a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p>
          <a
            class="dark-grey-text"
            id="a-text"
            href="https://www.upwork.com/freelancers/~01684cb774e124a36b"
          >
            UpWork
          </a>
        </p>
        <p>
          <a
            class="dark-grey-text"
            id="a-text"
            href="https://github.com/BegaDeveloper/"
          >
            GitHub
          </a>
        </p>
        <p>
          <a
            class="dark-grey-text"
            id="a-text"
            href="https://www.linkedin.com/in/ismar-begic-a924a0205/"
          >
            Linkedin
          </a>
        </p>
        <p>
          <a class="dark-grey-text" id="a-text"> Freelancer </a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
          id="hr-tag"
        />
        <p><i class="fas fa-home mr-3"></i> Zivinice, BiH 75270</p>
        <p><i class="fas fa-envelope mr-3"></i> ismarbegicit@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> +387(64/44/62/914)</p>
        <p><i class="fas fa-print mr-3"></i> Marsala Tita 4</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center text-black-50 py-3" id="copyright">
    © 2021/22 Copyright:
    <a class="dark-grey-text" id="a-text"> Ismar Begic </a>
  </div>
</footer>
