<div class="angular-background">
  <div class="main-angular-div">
    <div class="container" id="ang-con">
      <div class="row" id="rows">
        <div class="col-lg-4" id="angular-k">
          <h3>
            Codeigniter
            <img
              src="../../assets/images/codelogo.png"
              alt=""
              width="40px"
              class="ang-img"
            />
          </h3>
          <div class="react-list">
            <ul class="react-k" *ngFor="let skills of reactSkills">
              <li class="li-list">
                <a>{{ skills.name }}</a>
              </li>
            </ul>
          </div>
          <p>
            Self taught Codeigniter x Php developer. I have always found coding
            intuitive and have pushed myself to learn the most effective ways to
            achieve a result. I'm a fast learner and can quickly integrate isto
            a team so I can provide value to the company and the customer. I am
            ambitious, adventurous, assiduos and a team player. Codeigniter is
            my the second framework I started learning in the company I am
            currently working as a Full Stack Developer.
          </p>

          <h4>My home projects:</h4>
          <ul class="project-react">
            <li>
              <a href="https://github.com/BegaDeveloper/CodeigniterCRUD"
                >CRUD App</a
              >
            </li>
            <li>
              <a
                href="https://github.com/BegaDeveloper/phpCodeigniterCRUD-with-auth"
                >CRUD and Auth app</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="skill-bars">
            <div class="bar">
              <div class="info">
                <span>HTML</span>
              </div>
              <div class="progress-line html">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>CSS</span>
              </div>
              <div class="progress-line css">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>Php</span>
              </div>
              <div class="progress-line jquery">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>MySQL</span>
              </div>
              <div class="progress-line python">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>Codeigniter</span>
              </div>
              <div class="progress-line mysql">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
